@font-face {
  font-family: 'iconfont';  /* project id 1241767 */
  src: url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.eot');
  src: url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.woff') format('woff'),
  url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1241767_r8kaocpzz1m.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e628";
}

.icon-invite:before {
  content: "\e666";
}

.icon-add:before {
  content: "\e60e";
}

.icon-sixin:before {
  content: "\e615";
}

.icon-bangdan:before {
  content: "\e61b";
}

.icon-message:before {
  content: "\e6eb";
}

.icon-up:before {
  content: "\e7a6";
}

.icon-golevel:before {
  content: "\e634";
}

.icon-right:before {
  content: "\e65c";
}

.icon-shezhi:before {
  content: "\e655";
}

.icon-emotion:before {
  content: "\e78b";
}

.icon-befans:before {
  content: "\e688";
}

