@font-face {
  font-family: 'iconfont';  /* project id 1241767 */
  src: url('//at.alicdn.com/t/font_1241767_l03401bl4h.eot');
  src: url('//at.alicdn.com/t/font_1241767_l03401bl4h.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1241767_l03401bl4h.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1241767_l03401bl4h.woff') format('woff'),
  url('//at.alicdn.com/t/font_1241767_l03401bl4h.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1241767_l03401bl4h.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e628";
}

.icon-invite:before {
  content: "\e666";
}

.icon-cry:before {
  content: "\e60a";
}

.icon-add:before {
  content: "\e60e";
}

.icon-angry:before {
  content: "\e6dc";
}

.icon-wulian:before {
  content: "\e624";
}

.icon-message:before {
  content: "\e6eb";
}

.icon-up:before {
  content: "\e7a6";
}

.icon-golevel:before {
  content: "\e634";
}

.icon-huaixiao:before {
  content: "\e74a";
}

.icon-right:before {
  content: "\e65c";
}

.icon-xiaoku:before {
  content: "\e723";
}

.icon-emotion:before {
  content: "\e78b";
  font-size: 26px;
}

.icon-befans:before {
  content: "\e688";
}

.icon-wuyu:before {
  content: "\e83a";
}

.icon-ganga:before {
  content: "\e61d";
}


