@font-face {
  font-family: 'iconfont';  /* project id 1241767 */
  src: url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.eot');
  src: url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1241767_8n4yc5uxdf7.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e628";
}

.icon-invite:before {
  content: "\e666";
}

.icon-add:before {
  content: "\e60e";
  font-size: 30px;
}

.icon-message:before {
  content: "\e6eb";
}

.icon-up:before {
  content: "\e7a6";
}

.icon-golevel:before {
  content: "\e634";
}

.icon-right:before {
  content: "\e65c";
}

.icon-emotion:before {
  content: "\e78b";
  font-size: 30px;
}

.icon-befans:before {
  content: "\e688";
}
